.App {
  text-align: center;

}

/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.btn {
  width: 70px;
  height: 40px;
  font-size: 10px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
}

.user-item{
  text-align: center;
  border: 0.2px solid black;
  cursor: pointer;
  width: 200px;
  padding: 30px;
  display: inline-block;
  margin: 10px;
  margin-left: 40px; 
  margin-top: 30px;
  background-color: #DFD3C3;
  border-radius: 10px;
}

.user-item:hover {
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.08);
}

img{
  margin: 10px;
  border-radius: 50%;
}

.user-info{
  text-align: center;
  text-decoration: none;
  font-weight: normal;

}